<header class="flex justify-center items-center py-3 w-[1120px] mx-auto">
    <span></span>

    <nav class="flex flex-row gap-x-10 opacity-80 ">
        <a href="/">Home</a>
        <a href="/sobre_mi">Sobre Mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>