---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; 
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="sobre_mi" href="">Sobre Mi</a></li>
    <li><a class="py-3 text-base" id="proyecto" href="">Proyectos</a></li>
    <li><a class="py-3 text-base" id="contacto" href="">Contacto</a></li>
</ul>